%h1 all highlights
%ul
  -@highlights.each do |h|
    %li{style:"margin-bottom: 10px"}
      %div= link_to "Title: #{h.title}", [h.user, h]
      %div= "Description: #{h.description}"
      %div= "By: #{h.user.email}"

%h1 all users
%ul
  -@users.each do |u|
    %li{style:"margin-bottom: 10px"}
      %div= link_to u.email, u